@model CtoxWebApp.Models.ApiModel.View.ConversionUi
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 

@{
    ViewData["title"] = "History";
    Layout = "_Home";
}

@if (Model.HasKey)
{
    if (Model.Amount != 0)
    {
        <div class="history-container">
            <div class="disclaimer">
                <span>Showing only last @Model.Amount conversion(s).</span>
                <span>For more detailed search navigate to <a asp-action="Api" asp-controller="Home">api section</a>.</span>
            </div>
            <div class="history">
                <table>
                    <tr class="history-header">
                        <td>Date</td>
                        <td>Time</td>
                        <td>Parsing type</td>
                        <td>Display action</td>
                    </tr>
                
                    @foreach (var el in Model.Conversions)
                    {
                        <tr class="history-element">
                            <td>@el.Time.ToShortDateString()</td>
                            <td>@el.Time.ToShortTimeString()</td>
                            <td>@el.Type.ToString()</td>
                            <td><button class="history-button" onclick="display(@el.Id)">View</button></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        
        <script>
        display = (id) => {
            console.log(id);
        }
        </script>
    }
    else
    {
        <div class="empty-banner">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            <span>So clean. Such empty.</span>
        </div>
    }
}
else
{
    <div class="nokey-banner">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <span>No api key associated with this account.</span>
        <span>You can uptain one in the api section.</span>
        <a asp-action="Api" asp-controller="Home">Go to api</a>
    </div>
}

@section head {
    <link rel="stylesheet" href="~/css/Home/history.css" >
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
}