@using CtoxWebApp.Models.ApiModel.Domain
@model CtoxWebApp.Models.ApiModel.View.ConversionUi
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 

@{
    ViewData["title"] = "History";
    Layout = "_Home";
}

@if (Model.HasKey)
{
    if (Model.Amount != 0)
    {
        <div class="history-container">
            <div class="popup-container hidden" onclick="closePopup()">
                <div class="popup-loading"></div>
                <div class="popup-view hidden">
                    <span>hello there</span>
                </div>
            </div>
            <div class="disclaimer">
                <span>Showing only last @Model.Amount conversion(s).</span>
                <span>For more detailed search navigate to <a asp-action="Api" asp-controller="Home">api section</a>.</span>
            </div>
            <div class="history">
                <table>
                    <tr class="history-header">
                        <th>Date</th>
                        <th>Time</th>
                        <th class="header-action">Parsing type</th>
                        <th class="header-action">Display action</th>
                    </tr>

                    @{
                        var prev = DateTime.MinValue.ToShortDateString();
                        foreach (var el in Model.Conversions)
                        {
                            var temp = el.Time.ToShortDateString();
                            var date = temp.Equals(prev) ? string.Empty : temp;
                            prev = temp;
                            var type = el.Type;
                            <tr class="history-element">
                                <td>@date</td>
                                <td>@el.Time.ToShortTimeString()</td>
                                <td class="@(type == ParseType.Xml ? "xml" : "json")">@type.ToString()</td>
                                <td class="button-element"><button class="history-button" onclick="display(@el.Id)">View</button></td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
        
        <script>
        display = (id) => {
            $(".popup-container").removeClass("hidden");
            $(".popup-loading").removeClass("hidden");
            $(".popup-view").addClass("hidden");
            $.ajax({
                url: "@Url.Action("View", "Api")?id=" + id,
                type: "GET",
                headers: {
                    "x-api-key": "@Model.Key" 
                },
                success: function (data) {
                    $(".popup-loading").addClass("hidden");
                    $(".popup-view").removeClass("hidden");
                    console.log(data);
                },
                error: function () {
                    $(".popup-container").addClass("hidden");
                   showErrorMessage("An error occured while loading conversion info. Please, try again later.");
                },
                done: function () {
                    
                }
            });
        }
        
        closePopup = () => {
            $(".popup-container").addClass("hidden");
        }
        </script>
    }
    else
    {
        <div class="empty-banner">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            <span>So clean. Such empty.</span>
        </div>
    }
}
else
{
    <div class="nokey-banner">
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <span>No api key associated with this account.</span>
        <span>You can obtain one in the api section.</span>
        <a asp-action="Api" asp-controller="Home">Go to api</a>
    </div>
}

@section head {
    <link rel="stylesheet" href="~/css/Home/history.css" >
    <script
            src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
}